.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

h1{
    color: #fff;;
}

.normal {
    background-image: linear-gradient(rgb(121, 106, 106), rgb(158, 158, 110), rgb(55, 76, 55));
}
.grass {
    background-image: linear-gradient(rgb(181, 255, 129), rgb(57, 146, 45), rgb(50, 75, 50));
}

.fire {
    background-image: linear-gradient(rgb(190, 77, 33), rgb(192, 127, 15), rgb(86, 73, 40));
}

.water {
    background-image: linear-gradient(rgb(106, 108, 121), #4b76db, rgb(55, 60, 76));
}

.electric {
    background-image: linear-gradient(rgb(120, 121, 106), #d9db4b, rgb(74, 76, 55));  
}

.ice {
    background-image: linear-gradient(rgb(106, 121, 119), #4bdbd6, rgb(55, 76, 75));
}

.ground {
    background-image: linear-gradient(rgb(121, 115, 106), #ab6e35, rgb(76, 66, 55));
}

.flying {
    background-image: linear-gradient(rgb(114, 106, 121), #794bdb, rgb(71, 55, 76));
}

.poison {
    background-image: linear-gradient(rgb(121, 106, 119), #d94bdb, rgb(76, 55, 75));
}

.fighting {
    background-image: linear-gradient(rgb(121, 106, 106), #db4b4b, rgb(76, 55, 55));
}

.psychic {
    background-image: linear-gradient(rgb(121, 106, 114), #db4b93, rgb(76, 55, 68));
}

.dark {
    background-image: linear-gradient(rgb(118, 121, 106), #3b472b, rgb(64, 76, 55));
}

.rock {
    background-image: linear-gradient(rgb(121, 119, 106), #dbdb4b, rgb(75, 76, 55));
}

.bug {
    background-image: linear-gradient(rgb(118, 121, 106), #a4db4b, rgb(72, 76, 55));
}

.ghost {
    background-image: linear-gradient(rgb(106, 121, 118), #4bdba9, rgb(55, 76, 70));
}

.steel {
    background-image: linear-gradient(rgb(106, 121, 121), #4bbedb, rgb(55, 75, 76));
}

.dragon {
    background-image: linear-gradient(rgb(112, 106, 121), #874bdb, rgb(66, 55, 76));
}

.fairy {
    background-image: linear-gradient(rgb(120, 106, 121), #db4bd4, rgb(76, 55, 69));
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .3rem .5rem;
    margin: .3rem;
    font-size: .625rem;
    color: #fff;
    background-color: #3fc93d;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}